@import com.sun.xml.xsom._


@(userId: String, sset: List[Schema])

@import play.api.cache.Cache
@import helper._
@import scala.collection.JavaConversions._
@import play.api.Play.current
@import play.api.Logger
@import scala.collection.Map
@import models._

<script>
  $(function() {

	jQuery('.accordion').dcAccordion({
		eventType: 'click',
		autoClose: true,
		saveState: true,
		disableLink: false,
		showCount: false,
		speed: 'fast'
	});

  });
  </script>
				<div id="schemaNav">
				<ul class="accordion">

				@for(schema <- sset){		
				
					<li><a href="#" class="schemaTitle">@schema.name</a>
					<ul>
										
					
					@if(schema.schema.iterateElementDecls().hasNext()){
				  <li><a href="#" class="elementsTitle">Elements</a>
				 	
					<ul>		  
				@for(e <- schema.schema.iterateElementDecls()){
								<li><a class="component" href="@routes.Application.xsComp(controllers.Application.getIdForComponent(e, userId))">@e.getName()</a></li>
						}
						</ul>
				</li>
										
				}		

				@if(schema.schema.iterateTypes().hasNext()){
				<li><a href="#" class="typesTitle">Types</a>	
			
				
				<ul>		  
				@for(t <- schema.schema.iterateTypes()){
							<li><a class="component" href="@routes.Application.xsComp(controllers.Application.getIdForComponent(t, userId))">@t.getName()</a></li>
						}
				</ul>


				</li>
								
				}
					
			
				
			</ul>
</li>}
</ul>
</div>